<div class="container" id="user">
    <h1>Signup</h1>
    
    <%= form_for(@user) do |f| %>
    
        <div class="field">
            <%= f.label :email, 'Email' %>
            <%= f.text_field :email %>
        </div>
    
        <div class="field">
            <%= f.label :password, 'Password' %>
            <%= f.password_field :password %>
        </div>
    
        <div class="actions">
            <%= f.submit 'Signup' %>
        </div>
    <% end %>
</div>
